/* Styles for form container */
.form-container {
    margin-top: 16px;
  }
  
  /* Styles for todo-input*/
  .todo-input {
    padding: 8px;
    margin-right: 8px;
  }
  
  /* Styles for todo-button*/
  .todo-button {
    padding: 8px;
  }
  